<script src="https://npmcdn.com/vue/dist/vue.js"></script>

<div id="exercise">
    <!-- 1) Hook up the button to toggle the display of the two paragraphs. Use both v-if and v-show and inspect the elements to see the difference -->
    <div>
        <button @click="isShown = !isShown">Toggle</button>
        <p v-if="isShown">You either see me ...</p>
        <p v-show="!isShown">...or me</p>
        <p v-if="isShown">You either see me ...</p>
        <p v-show="!isShown">...or me</p>
    </div>
    <!-- 2) Output an <ul> of array elements. Also print the index of each element. -->
    <ul>
        <li v-for="(framework, index) in frameworks">{{ index }} - {{ framework }}</li>
    </ul>
    <!-- 3) Print all key-value pairs of myObject. Also print the index of each item. -->
    <ul>
        <li v-for="(value, key, index) in myObject">{{ index }} - {{ key }}: {{ value }}</li>
    </ul>
    <!-- 4) Print the testData object (only the values) and also create a nested loop for the array: testData.data (hint: use v-for and v-if to achieve this) -->
    <ul>
        <li v-for="value in testData">
            <div v-if="Array.isArray(value)">
                <div v-for="element in value">{{ element }}</div>
            </div>
            <div v-else>{{ value }}</div>
        </li>
    </ul>
</div>

<script>
    new Vue({
        el: '#exercise',
        data: {
            isShown: true,
            frameworks: ['VueJS', 'React', 'Preact', 'AngularJS', 'Angular 6'],
            myObject: {
                title: 'VueJs',
                subTitle: 'Workshop'
            },
            testData: {
                name: 'TESTOBJECT',
                id: 10,
                data: [1.67, 1.33, 0.98, 2.21]
            }
        }
    });
</script>